<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--mapper에서 매칭할 parmeter Type 별칭 설정-->
	<typeAliases>
		<typeAlias type="com.gyu.portfolio.model.BbsVO" alias="bbsVO"/>
		<typeAlias type="com.gyu.portfolio.model.BoardVO" alias="boardVO"/>
		<typeAlias type="com.gyu.portfolio.model.LoginVO" alias="loginVO"/>
	</typeAliases>
	
	
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
					<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
					<property name="url" value="jdbc:mysql://localhost:3306/board_project?useSSL=false&amp;serverTimezone=UTC"/>
					<property name="username" value="root"/>
					<property name="password" value="7007"/>
				</dataSource>
		</environment>
		
	</environments> -->
	
	<mappers>
		<mapper resource="/mappers/Bbs_Mysql.xml"/> 
		<mapper resource="/mappers/Board_Mysql.xml"/> 
		<mapper resource="/mappers/Login_Mysql.xml"/> 
	</mappers>
	
</configuration>